<div>
<h1> Hello World! </h1>


<%= if @user_data && @user_data.discord do %>
  <p>Welcome, <%= @user_data.discord.global_username %>!</p>
<% else %>
  <p>Could not load user data</p>
<% end %>
</div>