@import "tailwindcss";
@import "../node_modules/daisyui/daisyui.css";

/* Fix Tailwindcss by following few steps 
    1. Follow steps at https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1301#issuecomment-2784572273
    2. npm install while cd in assets folder
    3. Add settings.json file in vscode folder with tailwindCSS config as repo
    4. Restart vscode
    */
